
module pdns_local 1.0;

require {
	type pdns_t;
	type var_lib_t;
	class file { create getattr lock map open read unlink write };
	class dir { add_name remove_name write };
}

#============= pdns_t ==============
allow pdns_t var_lib_t:dir { add_name remove_name write };

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow pdns_t var_lib_t:file map;
allow pdns_t var_lib_t:file { create getattr lock open read unlink write };
